* {
  box-sizing: border-box;
}

h1{
  text-align: center;
}

div{
  text-align: center;
  display: flex;
  margin: 10px 20%;
}

.container {
  height: auto;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.completed{
  color: red;
  text-decoration: line-through;
}

li{
  text-align: center;
}